/*
font-family: 'Inter', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Roboto', sans-serif;
 */

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Righteous";
  src: url("../fonts/Righteous/Righteous-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/static/Inter-Regular.ttf") format("truetype");
}

.roboto-font {
  font-family: "Roboto", sans-serif !important;
}

.righteous-font {
  font-family: "Righteous", cursive !important;
}

.inter-font {
  font-family: "Inter", sans-serif !important;
}
